@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 14px;
}

.right {
    width: 75vw;
    margin: 16px 0;
}

.home ul li {
    width: 24px;
    list-style: none;
    display: flex;
    gap: 14px;
    padding: 14px;
    font-weight: bold;
}

.head {
    display: flex;
    gap: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.head img {
    width: 20px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header * {
    padding: 18px;
}

.playist {
    padding: 16px;
}

.card {
    width: 200px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .6s;
    margin: 8px;
}

.card>* {
    padding-top: 15px;
    padding-left: 11px;
}

.card img {
    width: 89%;
    object-fit: contain;
}
.card:hover{
    background-color: rgb(80, 79, 79);
    cursor: pointer;
    --a: 1;
}
.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;

}

.cards {
    display: flex;
    gap: 20px;
    margin: 30px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
    padding-bottom: 50vh;
}

.login {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 16px;
    padding: 10px;
    width: 75px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
}

.login:hover {
    width: 80px;
    padding: 14px;
    font-size: 17px;
}

.sign {
    font-weight: bold;
    background-color: rgb(34, 34, 34);
    color: rgb(208, 203, 203);
    font-size: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: color 0.3s, font-size 0.3s;
}

.sign:hover {
    font-size: 18px;
    color: white;
}

.playist h1 {
    position: relative;
    overflow: auto;
}

.playbar {
    display: flex;
    justify-content: center;
    gap: 12px;
    position: fixed;
    bottom: 30px;
    background-color: rgba(10, 11, 10, 0.099);
    opacity: .8;
    width: 72vw;
    padding: 12px;
    filter: invert(1);
    border-radius: 13px;
    min-height: 40px;
}

.song ul {
    padding: 0 11px;
}

.song ul li {
    list-style-type: decimal;
    display: flex;
    gap: 16px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 9px;
    border-radius: 9px;
    justify-content: space-between;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seekbar {
    height: 4px;
    width: 96%;
    border: 2px solid rgb(10, 2, 2);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 7px;
    cursor: pointer;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 13px;
    background: black;
    position: relative;
    bottom: 6px;
    transition: left 0.5s;
}

.player-controls {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

.songinfo {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo,
.songtime {
    padding: 0 12px;
    color: black;
}

.upbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.hamburger {
    display: none;
}

.hamburgercont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.volume {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.range> input{
    cursor: pointer;
}

@media (max-width: 1015px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        padding: 0;
    }

    .left .close {
        display: block;
        position: absolute;
        right: 33px;
        top: 30px;
        width: 25px;
    }

    .right {
        width: 100vw;
        height: 88vw;
    }

    .playbar {
        width: calc(98vw - 40px);
        font-size: 10px;
        margin: 29px 13px;
        /* position: relative; */
        background-color: #c0c2c0;
    }

    .hamburger {
        display: block;
    }

    .seekbar {
        width: calc(98vw - 18px);
    }

    .card {
        width: 40vw;
    }

    .cards {
        margin: 0;
        justify-content: center;
    }

    .upbar {
        flex-direction: column;
        gap: 13px;
        align-items: center;
    }

    .time {
        flex-direction: column;
        gap: 12px;
    }
    .cards {
        
        padding-bottom: 30vh;
    }
}

@media (max-width: 404px) {
    .card {
        width: auto;
    }
}
